@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-zinc-100 dark:bg-zinc-950;
}

.point {
    @apply border-none shadow-lg;
    box-shadow: 0px 0px 4px 3px #e49505; /* Custom shadow */
}
.card {
    @apply bg-zinc-50 dark:bg-[#222224] border border-zinc-200 dark:border-white/5 hover:shadow-xl transition-all duration-300 shadow-sm dark:shadow-md;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(228, 149, 5, 0.2);
    border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(228, 149, 5, 0.5);
}
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(228, 149, 5, 0.2) transparent;
}